.btn_group{
    display: flex;
    justify-content: center;
    margin-bottom: 30px ;
}
.opt_btn{
    margin: 0 10px;
    margin-top: 20px;
    border: none;
    width: 150px !important;
    background: transparent;
    box-shadow:  -5px -5px 14px rgba(255, 255, 255, 0.2),
                 5px 5px 14px #1C1919;
}

.opt_btn:hover{
    background: #33393E;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3),
                inset 5px 5px 10px #1C1919;
}

.contacts{
    display: flex;
    align-items:center;
    flex-direction: column !important;
}

.contact-table{
    flex-direction: column !important;
}

.contact-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px 0;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3),
    inset 5px 5px 10px #1C1919;
    color: white;
}

.headers{
    padding: 10px 0;
    color: white;
    background-color: transparent;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3),
    inset 5px 5px 10px #1C1919;
    border-radius: 10px;
}

.del_btn{   
    color: white;
    border-radius: 50%;
    border: none;
    background: transparent;
    box-shadow:  -2px -2px 7px rgba(255, 255, 255, 0.2),
                 2px 2px 7px #1C1919;
}

.del_btn:hover{
    color: red;
    background: #33393E;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3),
                inset 5px 5px 10px #1C1919;
}

.update_btn{   
    color: white;
    border-radius: 50%;
    border: none;
    background: transparent;
    box-shadow:  -2px -2px 7px rgba(255, 255, 255, 0.2),
                 2px 2px 7px #1C1919;
}

.update_btn:hover{
    color: rgb(140, 215, 241);
    background: #33393E;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3),
                inset 5px 5px 10px #1C1919;
}

@media (max-width: 320px) {
    .update_btn,.del_btn {
      margin-top: 10px !important;
    }
}

.custom_table{
    border-color: transparent;
}

.custom_table th,
.custom_table td {
    color: white;
    background-color: #33393E;
  border-color:transparent;
}
